*{
    margin: 0;
    padding: 0;
}
html,body{
    widows: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    font-family: "Calibri Helvetica Arial"
}
#app{
    text-align: center;
    font-size: 400%;
    color: #607D8B;
    padding-left: 80px;
}
